---
Checks: > 
  -*,
  bugprone-*,
  concurrency-*,
  linuxkernel-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  altera-struct-pack-align,
  -misc-use-anonymous-namespace,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -readability-identifier-length,
  -bugprone-implicit-widening-of-multiplication-result,
